body {
  background-color: #7500ff;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

header {
  width: 100%;
  position: fixed;
  background-color: white;
  top: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}

.navHeader ul {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.navBar {
  position: fixed;
  right: 0px;
  top: 200px;
  background-color: white;
  border-radius: 8px 0 0 8px;
}

.navBar ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

li img {
  width: 40px;
}

ul {
  padding: 0 10px;
}

li {
  list-style-type: none;
}

.aboutMe {
  padding-top: 80px;
}

.aboutTitle {
  font-size: 30px;
  display: flex;
  justify-content: center;
  padding: 50px;
  color: white;
}

.aboutText {
  width: 47%;
  margin: 0 auto 50px;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  font-size: 18px;
}

.cardContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px;
}

.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: 10px;
  padding: 20px;
  box-sizing: border-box;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card h3 {
  margin-top: 0;
  color: #333;
}

.card p {
  color: #666;
}

.skills {
  margin-top: 180px;
}

.skillTitle {
  font-size: 30px;
  display: flex;
  justify-content: center;
  padding: 50px;
  color: white;
}
.skillContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skillCard {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  width: 35%;
  margin: 10px;
  padding: 20px;
  box-sizing: border-box;
}

.skillCard h3 {
  display: flex;
  justify-content: center;
}

.skillBox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 30px;
}

.devBox {
  display: flex;
  flex-direction: column;
  width: 15%;
  gap: 35px;
}

.devData {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.devData h3 {
  margin: 5px 0;
}

.devData img {
  width: 50px;
  height: 50px;
}

.skillCard ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
